.navbar {
  display: flex;
  padding: 1rem;
  background: $primary-color;
  justify-content: flex-end;
  a {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
  }

  @media (max-width: 428px) {
    a {
      font-size: 1.25rem;
    }
    justify-content: center;
  }
}
