.snippet-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(10vh, auto);
  padding: 1rem;
  background: $background-color-secondary;

  div {
    padding: 1rem;
    background: $background-color-primary;
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.5rem 1.25rem;
      margin: 1rem;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      border-radius: 2.5rem;
      color: $primary-color;
      font-size: 1.5rem;
      border: 3px solid $primary-color;
      transition-property: all;
      transition-duration: 0.5s;

      &:hover {
        color: white;
        background: $primary-color;
        font-size: 3rem;
      }
    }
  }

  .code {
    font-family: "Fira Code", monospace;
    font-weight: 800;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
